{% extends 'home/base/base.html' %}
{% load static %}

		{% block Home %}
		<!--  About Section  -->
    <div class="about-box">
		<div id="about" class="container-fluid wow fadeIn" data-wow-duration="1.5s">
			<div class="row">
				<div class="col-lg-6 has-img-bg"></div>
				<div class="col-lg-6">
					<div class="row justify-content-center">
						<div class="col-sm-8 py-5 my-5">
							<h2 class="mb-4 about-me">About Us</h2>
							<p>We serve top notched meals in the simplest way to satisfy our customers appetite. Out of a vaierty of dishes served in our environment, Marve's Hut tends to serve customers, fulfilling their appetite and taste buds to our different local and international meals. <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum necessitatibus iste,
							nulla recusandae porro minus nemo eaque cum repudiandae quidem voluptate magnam voluptatum? <br>Nobis, saepe sapiente omnis qui eligendi pariatur. quis voluptas. Assumenda facere adipisci quaerat. Illum doloremque quae omnis vitae.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
		{% endblock %}
